<h1>create new label</h1>
{{!-- action : WHERE SHOULD THE DATA GO ? --}}
{{!-- IT MUST BE LINKED TO A ROUTE --}}
{{!-- this way is the legacy way : the synchronous method --}}
<form method="post" action="/dashboard/label/create" enctype="multipart/form-data">
    {{!-- NAMES attributes ARE MANDATORY --}}


    <p>
        <label for="logo">logo</label>
        <input type="file" name="logo">
    </p>
    <p>
        <label for="">name</label>
        <input name="name" type="text" value="toto Records">
    </p>    <p>
        <label for="">country</label>
        <input name="country" type="text" value="country">
    </p>
    <p>
        <label for="">city</label>
        <input name="city" type="text" value="Records">
    </p>
    <p>
        <label for="">street</label>
        <input name="street" type="text" value=" Records street">
    </p>
    <p>
        <label for="">street num</label>
        <input name="streetNumber" type="number" value="3">
    </p>

    <p>
        <label for="">zip</label>
        <input name="zipcode" type="number" value="92800">
    </p>

    <button>ok</button>
</form>