<h1>create new label</h1>
{{!-- action : WHERE SHOULD THE DATA GO ? --}}
{{!-- IT MUST BE LINKED TO A ROUTE --}}
{{!-- this way is the legacy way : the synchronous method --}}
<form method="post" action="/dashboard/label/create" class="form-control"  enctype="multipart/form-data">
    {{!-- NAMES attributes ARE MANDATORY --}}


    <p>
        <label class="form-label" for="logo">logo</label>
        <input class="form-control" type="file" name="logo">
    </p>
    <p>
        <label class="form-label" for="">name</label>
        <input name="name" class="form-control"  type="text" value="toto Records">
    </p>    <p>
        <label class="form-label" for="">country</label>
        <input name="country" class="form-control"  type="text" value="country">
    </p>
    <p>
        <label class="form-label" for="">city</label>
        <input name="city" class="form-control"  type="text" value="Records">
    </p>
    <p>
        <label class="form-label" for="">street</label>
        <input name="street" class="form-control"  type="text" value=" Records street">
    </p>
    <p>
        <label class="form-label" for="">street num</label>
        <input name="streetNumber" class="form-control"  type="number" value="3">
    </p>

    <p>
        <label class="form-label" for="">zip</label>
        <input name="zipcode" class="form-control"  type="number" value="92800">
    </p>

    <button>ok</button>
</form>